<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="css/custom.css">
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=XXXsecretKey&callback=initMap"></script>
</head>

<body>
	<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="" href="#"><img src="images/th.jpg" height="50"></a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/sports">Sports</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
            <li><a href="/about-us">About Us</a></li>
          </ul>
        </div>
      </nav>

	<!-- ARTICLE -->
	<div class="container-fluid">
        <div class="row">
            <div class="col-md-4"><div id="map"></div></div>
            <div class="col-md-4">Dummy text: Its function as a filler or as a tool for comparing the visual impression of different typefaces
                Dummy text is text that is used in the publishing industry or by web designers to occupy the space which will later be filled with 'real' content. This is required when, for example, the final text is not yet available. Dummy text is also known as 'fill text'. It is said that song composers of the past used dummy texts as lyrics when writing melodies in order to have a 'ready-made' text to sing with the melody. Dummy texts have been in use by typesetters since the 16th century.</div>
        </div>


        
        <!-- Footer -->
        <footer>
            <p>Contact number - 95432234432<br>
                © 2022 Copyright:
                <a href="/"> newsportal.com</a>
            </p>
          </footer>
        <!-- Footer -->
	</div>
    
</body>
<script src="js/custom.js"></script>
</html>
